# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/pizzeria/.idea
/pizzeria/.ionic
/pizzeria/.sass-cache
/pizzeria/.sourcemaps
/pizzeria/.versions
/pizzeria/.vscode
/pizzeria/coverage
/pizzeria/dist
/pizzeria/node_modules
/pizzeria/platforms
/pizzeria/plugins
/pizzeria/www
/data
