<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>La pizzeria qui ne marche pas totalement :</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/pizza.jpg" alt="" />
    <ion-card-header>
      <ion-card-title>Bienvenue sur le site internet de notre pizzeria</ion-card-title>
        <ion-card-subtitle>Par MARTIN & COLLIAUX</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <h1> Write your own presentation here</h1>

  <h3>Use http requests with Postman :</h3>
  Several commands are avaliable for our application (remember to launch at least the first 3 command prompts before trying these) (see the readme on <a href="https://github.com/DhalEynn/INFO734">our github</a> for more informations) :

  <ul>
    <li><span style="font-weight:bold">GET all pizzas</span> : In the body tab of your request, change "none" by "x-www-form-urlencoded" then send the request on <a href="link.html" class="not-active">http://localhost:8080/api/pizzas</a></li>
    <li>
      <span style="font-weight:bold">GET one pizza</span> : In the body tab of your request, change "none" by "x-www-form-urlencoded" then send the request on <a href="link.html" class="not-active">http://localhost:8080/api/pizzas/PIZZANAME</a><br />
      <span style="font-style:italic">Exemple : <a href="link.html" class="not-active">http://localhost:8080/api/pizzas/CACTUS</a> will return the pizza named CACTUS.</span>
    </li>
    <li>
      <span style="font-weight:bold">Add a pizza (POST)</span> : In the body tab of your request, change "none" by "x-www-form-urlencoded" then enter the values nedeed following the model and send the request on <a href="link.html" class="not-active">http://localhost:8080/api/pizzas</a>. <br />
      Model :
        <ul>
          <li>name : <span style="font-style:italic">PIZZANAME</span> </li>
          <li>price : <span style="font-style:italic">PRICE</span>€ </li>
          <li>ingredients : <span style="font-style:italic">LISTOFINGREDIENTS</span> (separated by commas) </li>
        </ul>
      <span style="font-style:italic">One important point is that this request will replace a pizza if the name PIZZANAME is already used to avoid possible duplicates.</span>
    </li>
    <li>
      <span style="font-weight:bold">Modify a pizza (PUT)</span> : In the body tab of your request, change "none" by "x-www-form-urlencoded" then enter ALL the values nedeed following the model above and send the request on <a href="link.html" class="not-active">http://localhost:8080/api/pizzas/PIZZANAME</a>.<br />
      <span style="font-style:italic">For exemple, if you want to change the price of your pizza CACTUS, you need to enter the values for the price <span style="font-weight:bold">BUT ALSO</span> for the "name" and "ingredients" fields</span>
    </li>
    <li>
      <span style="font-weight:bold">DELETE a pizza</span> : Just send a delete request on <a href="link.html" class="not-active">http://localhost:8080/api/pizzas/PIZZANAME</a>
    </li>
  </ul>
</ion-content>
