<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Pizza du jour :
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/pizza.jpg" alt="" />
    <ion-card-header>
      <ion-card-title>Voici la pizza du jour !</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-list>
    <ion-item *ngFor="let pizza of dailyPizza">
      <ion-icon [name]="pizza.icon" slot="start"></ion-icon>
      {{pizza.name}}
      <div class="pizza-price" slot="end">
        Price : {{pizza.price}}
      </div>
      <div class="dailyIngredient">
        {{ pizza.ingredients }}
      </div>
    </ion-item>
  </ion-list>
</ion-content>
