<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let item of items">
      <input id={{item.id}} type="checkbox">
      <label for={{item.id}}>
        <ion-icon [name]="item.icon" slot="start"></ion-icon>
      {{item.title}}
     </label>
  <div class="list">
    <ul>
      <li>{{item.id}}</li>
      <li>Item 2</li>
      <li>Item 3</li>
    </ul>
  </div>
    </ion-item>
  </ion-list>
</ion-content>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
  

