<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      The Card :
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <p>Base tomate :</p>
    <ion-item *ngFor="let pizza of baseTomate">
      <ion-icon [name]="pizza.icon" slot="start"></ion-icon>
      {{pizza.name}}
      <div class="pizza-price" slot="end">
        Price : {{pizza.price}}
      </div>
    </ion-item>
    <p>Base crème :</p>
    <ion-item *ngFor="let pizza of baseCreme">
      <ion-icon [name]="pizza.icon" slot="start"></ion-icon>
      {{pizza.name}}
      <div class="pizza-price" slot="end">
        Price : {{pizza.price}}
      </div>
    </ion-item>
  </ion-list>
</ion-content>
