<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Le menu :
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/pizza.jpg" alt="" />
  </ion-card>

  <button id="showIngredients" onclick="ingredientFunction()">Ingredients</button>
  <ion-list>
    <p class="bases">Base tomate :</p>
    <ion-item *ngFor="let pizza of baseTomate">
      <ion-icon [name]="pizza.icon" slot="start"></ion-icon>
      {{pizza.name}}
      <div class="pizza-price" slot="end">
        Price : {{pizza.price}}
      </div>
      <div class="divIngredient">
        {{ pizza.ingredients }}
      </div>
    </ion-item>
    <p class="bases">Base crème :</p>
    <ion-item *ngFor="let pizza of baseCreme">
      <ion-icon [name]="pizza.icon" slot="start"></ion-icon>
      {{pizza.name}}
      <div class="pizza-price" slot="end">
        Price : {{pizza.price}}
      </div>
      <div class="divIngredient">
        {{pizza.ingredients}}
      </div>
    </ion-item>
    <p class="bases">Autre base :</p>
    <ion-item *ngFor="let pizza of baseAutre">
      <ion-icon [name]="pizza.icon" slot="start"></ion-icon>
      {{pizza.name}}
      <div class="pizza-price" slot="end">
        Price : {{pizza.price}}
      </div>
      <div class="divIngredient">
        {{pizza.ingredients}}
      </div>
    </ion-item>
  </ion-list>
</ion-content>
